* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generic rules */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* specific rules */

.main-container{
    width: 65%;
    margin: 20px auto;
}

header div {
    width: 100%;
    height: 100px;
    background-color: pink;
}

.middle-container {
    width: 100%;
    height: 400px;
    background-color: coral;
    margin-top: 20px;
}

.column-head {
    width: 100%;
    height: 60px;
    background-color: lightskyblue;
    margin-top: 20px;
}

/* columns */

.col-left,
.col-right {
    width: 25%;
    height: 500px;
    background-color: lightskyblue;
    float: left;
    margin: 15px 0;

}

.col-center {
    width: calc(50% - 30px) ;
    height: 500px;
    background-color: lightskyblue;
    float: left;
    margin: 15px;
}

footer div {
    width: 100%;
    height: 50px;
    background-color: violet;
    margin-top: 10px;
}